.Selected-Item {
  background-color: #8247ff0d;
  padding: 10px;
  /* margin-top: 10px; */
  border-radius: 10px;
  /* margin: 10px; */
   display: flex;
  justify-content: space-between;
 width: 70%;
 /* background-color: red; */
 margin-top: 20px;
 margin-left: 30px;
}