body {
  font-family: "Mardoto";
  overflow: hidden;
  margin: 0;
  height: 98vh;
  padding: 10px 10px;
  background-color: #e5e5e5;
}

.Main-Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Main-Content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
    display: none;
}
